:root {
  --link-fg: #34345c;
  --link-hover: #d00;
  --bg: #eef2ff;
  --bg-gradient: #D1D5EE;
  --fg: #333333;
  --post-bg: #d6daf0;
  --post-border: #b7c5d9;
  --greentext-and-name: green;
  --thread-title: blue;
  --board-title: #af0a0f;
}

/* gradient was not working properly when there were no threads on board this 100vh and overflow property fixes that */
html {
  min-height: 100vh;
  overflow: auto;
}

body {
  min-height: 100vh;
  overflow: auto;
  background: var(--bg);
  background-image: linear-gradient(to bottom,var(--bg-gradient) 0,transparent 260px);
  color: var(--fg);
  margin-top: 5rem;
}

a:link, a:visited {
  color: var(--link-fg);
}

a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

/* .site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
} */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}
/* 
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
} */

.article-content {
  white-space: pre-line;
}

/* .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
} */

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.Noid:hover {
  color: #428bca;
  text-decoration: none;
}

.image_thread {
  float: left;
}
.thread-metadata {
  padding-top: 4px;
  padding-bottom: 1px;
  margin-bottom: 4px;
}
.thread {
	display:block;
}
.name_thread {
	font-size: 10pt;
	font-weight: bold;
	color: var(--greentext-and-name);
}
.title_thread {
	font-size: 10pt;
	font-weight: bold;
	color: var(--thread-title);
}
.date_thread {
	font-size: 10pt;	
}
.id_thread{
	font-size: 10pt;
}
.content_thread {
	font-size: 10pt;
	white-space: pre-line;
}
.post {
  display: block;
  background-color: var(--post-bg);
	border: 5px solid var(--post-border);
	/* border-top: none;
  border-left: none; */
  margin-bottom: 5px;
}
.image_post {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.post-metadata {
  /* padding-bottom: 1px;
  margin-bottom: 4px; */
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
}
.content_post {
  margin-bottom: 15px;
  margin-top: 15px;
  /* padding-left: 0px; */
	word-wrap: all;
  font-size: 10pt;
  white-space: pre-line;
}

.greentext {
  color: var(--greentext-and-name);
  white-space: normal;
}

div.form-group > * {
  border-radius: 0px;
}

.form-group {
  margin-bottom: 0.5rem;
}

.spoiler{ 
  color: black; 
  background-color:black;
}

.spoiler:hover{
  color: white;
  }

.alert-postfailed{
 border-radius: 0px;
 background-color:#ea8;
 border: 1px solid;
 border-color: #800;
 color: #800;
}

.alert-postdelete{
  border-radius: 0px;
  background-color:#ea8;
  border: 1px solid;
  border-color: #800;
  color: #800;
 }

 .dropdown-menu {
  font-size: 10pt;
  padding: 0px;
  background-color: var(--post-bg);
  border-radius: 0px;
  border-color: var(--post-border);
}
.dropdown-item{
  padding: 2px 10px;
}
.dropdown-item:hover{
  background-color: rgb(228, 230, 225);
}


.navbar {
  padding: 3px 4px 4px !important;
  background-color: var(--post-bg);
  font-size: 12px;
  box-shadow: -5px 1px 10px
    rgba(0, 0, 0, 0.20);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--post-border);
}

a.nav-item.nav-link.py-0 {
  color: var(--link-fg);
  font-size: 13px;
  font-weight: 500;
  padding: 2px; 
}

a.nav-item.nav-link.py-0:hover {
  color: var(--link-hover);
}

.boardBanner {
  clear: both;
  color: var(--board-title);
  margin-bottom: 1rem;
}

.boardTitle {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
}

#bannerImg {
  border: 1px solid var(--link-fg);
  margin: 5px auto;
  width: 300px;
  height: 100px;
  max-width: 100%;
}

#counter {
  font-size: 8pt;
  float: right;
}






