{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div style="margin-bottom: 0.5rem;"></div>
            <div class="form-group">
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-sm is-invalid", placeholder="name") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-sm", placeholder="name") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-sm is-invalid", placeholder="comment", rows="5") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-sm", placeholder="comment", rows="5") }}
                {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>    
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn-sm btn-primary btn-block") }}
        </div>
        
    </form>
</div>
</div>
<hr>
{% endblock content %}
