{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
      {% for p in post %}
       {% if post.index(p) == 0 %}
        <article class="media thread">
          <a href="{{url_for('static', filename='pics/' + p.image_file)}}"><img class="px-2 py-2 image_thread" src="{{ url_for('static', filename='thumbs/' + p.image_file[:Len(p.image_file)-4]) }}"></a>
          <div class="thread-metadata">
            <small class="title_thread">{{p.title}}</small>
            <small class="name_thread">{{p.name}}</small>
            <small class="text-muted date_thread">{{ utcToLocal(p.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
            <a href="{{ url_for('post', post_id=p.id) }}"><small class="id_thread">No.{{p.id}}</small></a><br>
            </div>
            <p class="content_thread">{{ greenRegex(p.content)|clean(tags=['span'], attributes={'span':['class']}) }}</p>
        </article>
        {% else %}
        <div class="d-inline-flex">
          <article class="media post">
        <div class="media-body">
          <div class="post-metadata">
            <small class="name_thread">{{p.name}}</small>
            <small class="text-muted date_thread">{{ utcToLocal(p.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
            <small class="id_thread">No.{{p.id}}</small><br>
          </div>
          {% if p.image_file != '' %}
          <a href="{{url_for('static', filename='pics/' + p.image_file)}}"><img class="image_post px-2" src="{{ url_for('static', filename='thumbs/' + p.image_file[:Len(p.image_file)-4]) }}"></a>
          {% endif %}
          <div class="content_post px-4">{{ greenRegex(p.content)|clean(tags=['span'], attributes={'span':['class']}) }}</div>
        </div>
        </article>
        </div> <br>
        {% endif %}
         {% endfor %}
          <div class="col-sm-1">
             <span>&nbsp;</span>
          </div>
          <hr style="margin-top: 0px; margin-top: 0px; border-top: 1px solid #b7c5d9;">
          

    {% endfor %}

{% endblock content %}
