{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{ url_for('new_subpost',post_id=post.id) }}" role="button">Reply</a>
<br>
<br>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <span class="mr-2">No.{{ post.id }}</span>
        <span class="mr-2">{{ post.name }}</span>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  
  {% for subpost in subposts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <span class="mr-2">No.{{ subpost.id }}</span>
        <span class="mr-2">{{ subpost.name }}</span>
        <small class="text-muted">{{ subpost.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <p class="article-content">{{ subpost.content }}</p>
    </div>
  </article>
   
  {% endfor %}
  
      
{% endblock content %}
