{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<button id="subpost_btn" class="btn btn-primary">Reply to Thread</button>
</div>
<br>
<div class="d-flex justify-content-center">
  <div id="subpostform_container" class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <div style="margin-bottom: 0.5rem;"></div>
              <div class="form-group">
                  {% if form.name.errors %}
                      {{ form.name(class="form-control form-control-sm is-invalid", placeholder="name") }}
                      <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.name(class="form-control form-control-sm", placeholder="name") }}
                  {% endif %}
              </div>
              
              <div class="form-group">
                  {% if form.content.errors %}
                      {{ form.content(class="form-control form-control-sm is-invalid", placeholder="comment", rows="5", id="contentTextarea") }}
                      <div class="invalid-feedback">
                          {% for error in form.content.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.content(class="form-control form-control-sm", placeholder="comment", rows="5", id="contentTextarea") }}
                  {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.image(class="form-control-file") }}
                      {% if form.image.errors %}
                          {% for error in form.image.errors %}
                              <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                      {% endif %}
                  </div>    
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn-sm btn-primary btn-block") }}
          </div>
          
      </form>
  </div>
  </div>
  <hr>
  <script>
    $('#subpostform_container').hide();
    $(document).ready(function(){
    $('#subpost_btn').click(function(){
    $('#subpostform_container').toggle();
    });
    });
    </script>
  {#
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <span class="mr-2">No.{{ post.id }}</span>
        <span class="mr-2">{{ post.name }}</span>
        <small class="text-muted">{{ utcToLocal(post.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  #}
  <article class="media thread">
    <a href="{{url_for('static', filename='pics/' + post.image_file)}}"><img class="px-2 py-2 image_thread" src="{{ url_for('static', filename='thumbs/' + post.image_file[:Len(post.image_file)-4]) }}"></a>
    <div class="thread-metadata">
      <small class="title_thread">{{post.title}}</small>
      <small class="name_thread">{{post.name}}</small>
      <small class="text-muted date_thread">{{ post.date_posted|moment }}</small>
      <a href="javascript:id_append('>>{{post.id}}\n','contentTextarea')"><small id="{{post.id}}" class="id_thread">No.{{post.id}}</small></a><br>
      </div>
      <p class="content_thread">{{greenRegex(hrefRegex(post.content))|clean(tags=['span','a','pre'], attributes={'span':['class'],'a':['href'],'pre':[]}) }}</p>
  </article>
  
  {% for subpost in subposts %}
  
  <div class="d-inline-flex">
    <article class="media post">
  <div class="media-body">
    <div class="post-metadata">
      <small class="name_thread">{{subpost.name}}</small>
      <small class="text-muted date_thread">{{ subpost.date_posted|moment }}</small>
      <a href="javascript:id_append('>>{{subpost.id}}\n','contentTextarea')"><small id="{{subpost.id}}" class="id_thread">No.{{subpost.id}}</small></a><br>
    </div>
    {% if subpost.image_file != '' %}
    <a href="{{url_for('static', filename='pics/' + subpost.image_file)}}"><img class="image_post px-2" src="{{ url_for('static', filename='thumbs/' + subpost.image_file[:Len(subpost.image_file)-4]) }}"></a>
    {% endif %}
    <div class="content_post px-4">{{greenRegex(hrefRegex(subpost.content))|clean(tags=['span','a','pre'], attributes={'span':['class'],'a':['href'],'pre':[]}) }} </div>
  </div>
  </article>
  </div> <br>
   
  {% endfor %}
  
      
{% endblock content %}
