{% extends "layout.html" %}
{% block content %}
<a class="btn btn-primary" href="{{ url_for('new_subpost',post_id=post.id) }}" role="button">Reply</a>
<br>
<br>
  {#
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <span class="mr-2">No.{{ post.id }}</span>
        <span class="mr-2">{{ post.name }}</span>
        <small class="text-muted">{{ utcToLocal(post.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  #}
  <article class="media thread">
    <a href="{{url_for('static', filename='pics/' + post.image_file)}}"><img class="px-2 py-2 image_thread" src="{{ url_for('static', filename='thumbs/' + post.image_file[:Len(post.image_file)-4]) }}"></a>
    <div class="thread-metadata">
      <small class="title_thread">{{post.title}}</small>
      <small class="name_thread">{{post.name}}</small>
      <small class="text-muted date_thread">{{ utcToLocal(post.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
      <a href="{{ url_for('post', post_id=post.id) }}"><small class="id_thread">No.{{post.id}}</small></a><br>
      </div>
      <p class="content_thread">{{post.content|clean(tags=['span'], attributes={'span':['class']}) }}</p>
  </article>
  
  {% for subpost in subposts %}
  
  <div class="d-inline-flex">
    <article class="media post">
  <div class="media-body">
    <div class="post-metadata">
      <small class="name_thread">{{subpost.name}}</small>
      <small class="text-muted date_thread">{{ utcToLocal(subpost.date_posted).strftime('%d/%m/%y(%a)%H:%M:%S') }}</small>
      <small class="id_thread">No.{{subpost.id}}</small><br>
    </div>
    {% if subpost.image_file != '' %}
    <a href="{{url_for('static', filename='pics/' + subpost.image_file)}}"><img class="image_post px-2" src="{{ url_for('static', filename='thumbs/' + subpost.image_file[:Len(subpost.image_file)-4]) }}"></a>
    {% endif %}
    <div class="content_post px-4">{{subpost.content|clean(tags=['span'], attributes={'span':['class']}) }} </div>
  </div>
  </article>
  </div> <br>
   
  {% endfor %}
  
      
{% endblock content %}
